// Menu.scss

$primaryColor: #3498db;
$secondaryColor: #2ecc71;
$thirdColor: #121619;
$whiteColor: #fff;
$grayColor: #888;

.menu {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
  &-title {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    background-color: $primaryColor;
    color: $whiteColor;
    padding: 1.25rem;
    border-radius: 5px;
  }
  &-filter {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
  section {
    margin-bottom: 30px;

    .item-list {
      list-style: none;

      display: flex;
      gap: 4rem;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        padding: 10px 0 25px 0;
        margin-bottom: 5px;
        color: $grayColor;
        font-size: 16px;
        flex: 1;
        .item-title {
          font-weight: bold;
          color: darken($thirdColor, 15%);
          text-transform: uppercase;
          font-size: 1rem;
          padding: 0 0 10px 0;
          border-bottom: 1px solid #e4e4e4;
          white-space: nowrap;
        }

        .item-ingredients {
          color: $grayColor;
          font-size: 0.85rem;
          max-width: 110px;
        }
        .burger-ingredients {
          color: $grayColor;
          font-size: 0.85rem;
        }
      }
    }
  }

  div {
    margin-bottom: 20px;

    button {
      background-color: $primaryColor;
      color: white;
      border: none;
      padding: 10px 15px;
      margin-right: 10px;
      cursor: pointer;
      border-radius: 5px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: darken($primaryColor, 10%);
      }
    }
  }
}
