$primaryColor: #3498db;

.sticky-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  transition: opacity 400ms ease;
  opacity: 0;

  &.show {
    opacity: 1;
  }

  &--link {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    background: $primaryColor;
    border-radius: 100%;
    color: #fff;
    font-size: 30px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      position: relative;
      width: 20px;
      height: 30px;
      color: #fff;
    }
  }
}
