@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
.home {
  position: relative;

  .container {
    position: relative;

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 7em;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
      font-family: "PT Sans Narrow", sans-serif;
      letter-spacing: 3px;
    }
  }
}
