$primaryColor: #3498db;
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
  color: #fff;
  .container {
    max-width: 1200px; /* Set the maximum width */
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    .logo {
      span {
        font-weight: bold;
        font-size: 2.2em;
        font-family: "PT Sans Narrow", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
      }
    }

    .contact-info {
      span {
        font-size: 1em;
      }
    }
  }

  &.scrolled {
    background-color: $primaryColor; /* Change the background color when scrolling */
    opacity: 1; /* Make the navbar fully opaque when scrolled */
  }
}
