$primaryColor: #009246; // Green
$navbarTextLight: #fff;
$thirdColor: #ce2b37; // Red

$navbarBackgroundLight: rgba(
  52,
  152,
  219,
  0.8
); // Retained the original color for background, but you can adjust as needed

@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

.navbar {
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
  transition: background-color 0.3s ease;
  color: $primaryColor;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 100%;
    .logo {
      span {
        font-weight: bold;
        font-size: 2.2em;
        font-family: "PT Sans Narrow", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        @media screen and (max-width: 480px) {
          font-size: 1.5em;
        }
      }
    }

    .contact-info {
      display: flex;
      align-items: center;
      gap: 1rem;
      svg {
        width: 20px;
        height: 20px;
        color: $navbarTextLight;
      }
      span {
        font-size: 1.1em;
      }
    }
  }

  &.scrolled {
    height: 70px;
    background-color: $primaryColor;
    opacity: 1;
    color: $navbarTextLight;
  }
}
